<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>Partner_Portal_Templates/Community_Customer_Care_password_reset</changePasswordTemplate>
    <communityRoles/>
    <description>External facing site &quot;My Support&quot; for our customers and partners to manage cases, search the knowledge base, and other activities</description>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterLogo>SharedDocuments/Genesys_Logo.jpg</emailFooterLogo>
    <emailFooterText>Copyright © 2014 Genesys Telecommunications Laboratories, Inc. All rights reserved.</emailFooterText>
    <emailSenderAddress>customercare@genesys.com</emailSenderAddress>
    <emailSenderName>Genesys Customer Care</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Partner_Portal_Templates/Community_Customer_Care_password_reset</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>Topics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Customer_Care_Community_access</permissionSet>
        <permissionSet>Customer_Care_Community_Moderator</permissionSet>
        <profile>Genesys Portal End User - ReadOnly</profile>
        <profile>Genesys Portal End User</profile>
        <profile>Genesys Portal Partner</profile>
        <profile>Admin</profile>
        <profile>Customer Care Manager</profile>
        <profile>Genesys System Administrator</profile>
        <profile>Customer Care Analyst</profile>
        <profile>Customer Care Data Admin</profile>
        <profile>Customer Care CSM</profile>
        <profile>Genesys Portal Potential Gold Partner</profile>
        <profile>Genesys Portal Gold Partner</profile>
        <profile>Genesys Portal End User - FedRamp</profile>
        <profile>Customer Care PureConnect Manager</profile>
        <profile>Customer Care PureConnect Analyst</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Genesys_Customer_Care1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Genesys_Customer_Care</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>customercare</urlPathPrefix>
    <welcomeTemplate>Partner_Portal_Templates/Community_New_Customer_Care_Welcome</welcomeTemplate>
</Network>
