<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>Partner_Portal_Templates/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>roger.farr@genesys.com</emailSenderAddress>
    <emailSenderName>Know</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Partner_Portal_Templates/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>https://genesyspartner.force.com/know/KnowPureCloudHome</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>0</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Knowledge_Network_Community_Access</permissionSet>
        <profile>Admin</profile>
        <profile>Customer Care PureConnect Manager</profile>
        <profile>GEN - MKG - Lead Development Rep Manager</profile>
        <profile>Gen - Direct Touch  LATAM</profile>
        <profile>EMG - MKG - Customer Reference</profile>
        <profile>EMG - MKG - Marketing Ops</profile>
        <profile>EMG - MKG - Regional Field Marketing</profile>
        <profile>GEN - Direct Touch AMERICAS</profile>
        <profile>GEN - Direct Touch APAC</profile>
        <profile>GEN - Direct Touch EMEA</profile>
        <profile>GEN - Finance</profile>
        <profile>GEN - Inside Sales AMERICAS</profile>
        <profile>GEN - Inside Sales APAC</profile>
        <profile>GEN - MKG - Lead Development Rep</profile>
        <profile>Regional Sales Ops</profile>
        <profile>System Administrator - Marketing</profile>
        <profile>StandardAul</profile>
        <profile>GEN - Sales Ops - Do Not Use</profile>
        <profile>GEN - Solution Engineer</profile>
        <profile>Global Business Consultant</profile>
        <profile>GEN - Genesys Care Ops</profile>
        <profile>GEN - Genesys Care Ops Management</profile>
        <profile>Customer Care Manager</profile>
        <profile>Genesys System Administrator</profile>
        <profile>System Admin-JIRA</profile>
        <profile>Customer Care Analyst</profile>
        <profile>Customer Care Data Admin</profile>
        <profile>Product Manager</profile>
        <profile>Customer Care CSM</profile>
        <profile>Software Delivery</profile>
        <profile>GEN - Genesys Care Ops Mgmt1</profile>
        <profile>GEN - Legal Team</profile>
        <profile>GEN - Genesys Care Ops%28Reports%29</profile>
        <profile>GEN - Genesys Care Compliance ops</profile>
        <profile>Product Management View All</profile>
        <profile>Regional Sales Ops %28Edit all%29</profile>
        <profile>Customer Care Manager 2</profile>
        <profile>MDM Administrator</profile>
        <profile>PM %28All%29</profile>
        <profile>GEN %E2%80%93 Sales Specialist</profile>
        <profile>GEN - Direct Touch UKI</profile>
        <profile>GEN %E2%80%93 Sales CSM</profile>
        <profile>GEN %E2%80%93 Cloud Solution Engineer</profile>
        <profile>GEN - Cloud Offer Manager</profile>
        <profile>Professional Services - Full</profile>
        <profile>GEN - Professional Services</profile>
        <profile>Gen- Genesys Care SME</profile>
        <profile>Gen- Genesys Care SME Admin</profile>
        <profile>Professional Services - Admin %26 Operations</profile>
        <profile>GEN - Genesys Care Compliance ops%28Read only%29</profile>
        <profile>Company Communities User</profile>
        <profile>GEN %E2%80%93 Sales CSM%28Revenue%29</profile>
        <profile>General User Access Group SU</profile>
        <profile>Genesys Company Community Employee</profile>
        <profile>Standard</profile>
        <profile>ReadOnly</profile>
        <profile>SolutionManager</profile>
        <profile>ContractManager</profile>
        <profile>Customer Care PureConnect Analyst</profile>
        <profile>GEN - Direct Touch Pilot - Do Not Use</profile>
        <profile>System Administrator - Integration</profile>
        <profile>Custom Potential Partner User</profile>
        <profile>Consultant Portal Manager Custom</profile>
        <profile>Gold Partner User</profile>
        <profile>Overage Customer Portal Manager Custom</profile>
        <profile>Customer Portal Manager Custom</profile>
        <profile>Genesys Portal End User</profile>
        <profile>Genesys Portal Partner User</profile>
        <profile>Genesys Portal End User - ReadOnly</profile>
        <profile>Partner Community Login User</profile>
        <profile>Genesys Portal Gold Partner</profile>
        <profile>Genesys Portal Potential Gold Partner</profile>
        <profile>Partner Community Login New</profile>
        <profile>Genesys Portal End User_PP</profile>
        <profile>Genesys Portal Partner</profile>
        <profile>Genesys Portal Potential Partner</profile>
        <profile>Overage Customer Portal Manager Standard</profile>
        <profile>Customer Portal Manager Standard</profile>
        <profile>Data Administrator</profile>
        <profile>Genesys Portal Knowledge Network</profile>
        <profile>Customer Care Guru Analyst</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>VisualForce</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <newSenderAddress>knowledge.network@genesys.com</newSenderAddress>
    <picassoSite>Know1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Know</site>
    <status>Live</status>
    <tabs>
        <customTab>KnowHome</customTab>
        <defaultTab>01r0B000000Qmtz</defaultTab>
    </tabs>
    <urlPathPrefix>know</urlPathPrefix>
    <welcomeTemplate>Partner_Portal_Templates/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
