<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>Partner_Portal_Templates/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterLogo>Logo_Buttons/Genesys_Logo1.jpg</emailFooterLogo>
    <emailFooterText>Copyright © 2014 Genesys Telecommunications Laboratories, Inc. All rights reserved.</emailFooterText>
    <emailSenderAddress>customermarketing@genesys.com</emailSenderAddress>
    <emailSenderName>Marketing</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Partner_Portal_Templates/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>Marketing_Community_Moderator</permissionSet>
        <permissionSet>Marketing_Community_for_Customer_Care_users</permissionSet>
        <permissionSet>Marketing_Community_for_Partners</permissionSet>
        <permissionSet>Marketing_Standard_Users</permissionSet>
        <profile>Admin</profile>
        <profile>Genesys System Administrator</profile>
        <profile>Genesys Portal End User</profile>
        <profile>Marketing Community User</profile>
        <profile>Customer Care Analyst</profile>
        <profile>Customer Care Manager 2</profile>
        <profile>Customer Care CSM</profile>
        <profile>Customer Care Manager</profile>
        <profile>Customer Care Data Admin</profile>
        <profile>EMG - MKG - Marketing Ops</profile>
        <profile>EMG - MKG - Regional Field Marketing</profile>
        <profile>GEN - Genesys Care Ops Management</profile>
        <profile>GEN - Genesys Care Ops Mgmt1</profile>
        <profile>Product Management View All</profile>
        <profile>GEN - Genesys Care Ops</profile>
        <profile>Professional Services - Full</profile>
        <profile>GEN - Solution Engineer</profile>
        <profile>Product Manager</profile>
        <profile>GEN - Professional Services</profile>
        <profile>GEN - Sales Ops - Do Not Use</profile>
        <profile>SolutionManager</profile>
        <profile>GEN - MKG - Lead Development Rep</profile>
        <profile>GEN - Inside Sales APAC</profile>
        <profile>GEN - Inside Sales AMERICAS</profile>
        <profile>PM %28All%29</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Marketing1</picassoSite>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Marketing</site>
    <status>Live</status>
    <tabs>
        <customTab>Marketing_Home</customTab>
        <defaultTab>01rU0000000QFZT</defaultTab>
    </tabs>
    <urlPathPrefix>Marketing</urlPathPrefix>
    <welcomeTemplate>Partner_Portal_Templates/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
