<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Partner_Portal_Templates/Forgot_Password_Email</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>partners@genesys.com</emailSenderAddress>
    <emailSenderName>partners@genesys.com</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Partner_Portal_Templates/Forgot_Password_Email</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>Partner_Community_Users</permissionSet>
        <permissionSet>Litmos__Litmos_Login_Access</permissionSet>
        <profile>DO NOT USE Genesys Customer%2FPartner Profile</profile>
        <profile>Genesys Portal Gold Partner</profile>
        <profile>Partner Community Login User</profile>
        <profile>Partner Community Login New</profile>
        <profile>Genesys Portal Potential Gold Partner</profile>
        <profile>Genesys System Administrator</profile>
        <profile>Genesys Portal End User_PP</profile>
        <profile>Admin</profile>
        <profile>Genesys Portal Partner</profile>
        <profile>Genesys Portal Potential Partner</profile>
        <profile>Genesys Portal Partner - DoNotUse</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Partner1</picassoSite>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Partner</site>
    <status>Live</status>
    <tabs>
        <customTab>Home</customTab>
        <customTab>Genie_Partner_Content</customTab>
        <customTab>Deal_Registration</customTab>
        <customTab>Performance</customTab>
        <customTab>Events</customTab>
        <customTab>Training</customTab>
        <customTab>Lab_Order</customTab>
        <customTab>G_Select</customTab>
        <customTab>Partner_Home</customTab>
        <customTab>Partner_Application</customTab>
        <customTab>AppFoundry_License_Report</customTab>
        <customTab>Deal_Support__c</customTab>
        <customTab>Activation_File_Management</customTab>
        <defaultTab>01rU0000000QTHz</defaultTab>
        <standardTab>Opportunity</standardTab>
    </tabs>
    <urlPathPrefix>partner</urlPathPrefix>
    <welcomeTemplate>Partner_Portal_Templates/Community_New_Partner_Welcome</welcomeTemplate>
</Network>
